.Cards{
  background-color: rgba(72, 72, 166, 0);
}

.bar-graph-container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.graph-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.IncomeTableContainer {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Adjust alignment as needed */
}

.IncomeTableColumn {
  flex: 1; /* Adjust width of each column */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
